[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
websockets = "*"
openai = "*"
sse-starlette = "*"

[dev-packages]

[requires]
python_version = "3.11"
